<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>strong APP update system</title>
	<style type="text/css">body {
	background-color: #0CF;
}
	</style>
</head>
<body>
<center>
<h2><br />
<br />
<br />
<br />
<br />
<strong>strong APP update system </strong></h2>
</center>

<center>
<p><br />
<br />
<br />
<br />
<br />
<br />
<br />
&nbsp;</p>

<form action="/login/" method="POST">
username:<input name="username" type="text" />
<p>&nbsp;</p>
password:<input name="password" type="password" />
<p>&nbsp;</p>
<input type="submit" value="submit" /><span>{{status}}</span>&nbsp;
</form>
</center>
</body>
</html>
