<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>userview</title>
	<style type="text/css">body {
	background-color: #0CF;
}
	</style>
</head>
<h1>This is user website what will upload to publish server  </h1>
<br />
<br />
<body>
<form enctype="multipart/form-data" action="/user/" method="POST">
<h2>Teacher`s APP</h2>
{{teacher_form}}
<input name="Tsubmit" type="submit" value="submit"/>
</form>{{Tstatus}}
<br />
<br />
<br />
<form enctype="multipart/form-data" action="/user/" method="POST">
<h2>Student`s APP</h2>
{{studnet_form}}
<input name="Ssubmit" type="submit" value="submit"/>
</form>{{Sstatus}}
</body>
</html>
